/* css login admin */
.auth-minimal-wrapper {
    background: url(../images/banner/1.jpg) no-repeat center center/cover;
    min-height: 100vh;
    position: relative;
}

.auth-minimal-wrapper::before {
    content: "";
    position: absolute;
    inset: 0;
    backdrop-filter: blur(8px);
    background: rgba(0, 0, 0, 0.3);
}

/* Chuyến màu chữ MTShop */
.app-skin-dark .logo h3 {
    color: #ffffff !important;
}

body:not(.app-skin-dark) .logo h3 {
    color: #000000 !important;
}

.fs-status {
    font-size: 14px;
}

.row-disabled td {
    background-color: #ebebeb;
}

/* View thông tin tài khoản người dùng trong Offcanvas */
/* Màu nền nhẹ cho Badge vai trò */
.bg-soft-primary {
    background-color: rgba(13, 110, 253, 0.1);
}
/* Hiệu ứng shadow cho Offcanvas */
#viewUserCanvas {
    transition: transform 0.3s ease-in-out;
}
/* Style cho các icon info */
.avatar-text {
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Đảm bảo nội dung không bị tràn */
.offcanvas-body {
    scrollbar-width: thin;
}